<div class="col-xs-4 goods-detail-left">
    <div class="row">
        <div>
            <img class="img-thumbnail goods_pic" ng-src="{{ctx+currentUrl}}">
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-4" ng-repeat="image in goods.imageList track by $index" ng-click="overImage($index)">
            <img class="img-rounded goods_pic_thumbnail" ng-src="{{ctx+image.src}}">
        </div>
    </div>
</div>
<div class="col-xs-8 goods-detail-right">
    <div class="row goods-detail-title">
        <span>圆形鱼缸造景</span>
    </div>
    <div class="row goods-detail-money">
        <span>价格:¥</span>
        <span>19.90</span>
    </div>
    <div class="row goods-detail-amount">
        <div class="col-xs-2">数量:</div>
        <div class="col-xs-4">
            <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="reduceAmount()">-</button>
            </span>
                <input type="text" class="form-control" ng-model="param.buyAmount">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="plusAmount()">+</button>
            </span>
            </div>
        </div>
        <div class="col-xs-3" ng-bind="'件 (库存'+goods.stock+'件)'"></div>
    </div>
    <div class="goods-detail-buy">
        <button class="btn btn-lg btn_buy">立即购买</button>
        <button class="btn btn-lg btn_add" ng-click="addToCart()">加入购物车</button>
    </div>
</div>
<div class="col-xs-12" style="margin-top: 20px;">
    <uib-tabset active="active">
        <uib-tab index="0" heading="详情">好玩意</uib-tab>
        <uib-tab index="1" heading="评论">6666666666666666</uib-tab>
    </uib-tabset>
</div>
<div id="toast" ng-class="{'display-block':param.addSuccessFlag,'display-none':!param.addSuccessFlag}">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content">已完成</p>
    </div>
</div>
<div id="loadingToast" ng-class="{'display-block':param.loadingFlag,'display-none':!param.loadingFlag}">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-loading weui-icon_toast"></i>
        <p class="weui-toast__content">数据加载中</p>
    </div>
</div>